<div class="contentAll">

    <div class="titleDesc">
        <h1>Cadastrar Cliente</h1>
        <p>Crie registros e depois adicione seus serviços</p>
    </div>


<mat-card class="formNew">
    <mat-toolbar class="toolbar-card">

        <span>Salvar Cliente</span>
        <span class="example-spacer"></span>
        <button mat-stroked-button (click)="goclientesPage()">Clientes</button>

    </mat-toolbar>
    <mat-card-content>
        <br>

        <form [formGroup]="form" class="example-form">

            <table class="example-full-width" cellspacing="0">
                <tr style="display: flex;flex-wrap: wrap;">

                    <td>
                        <div class="example-full-width">
                            <mat-label>Nome</mat-label>
                            <input type="text" matInput placeholder="Insira o nome do cliente" formControlName="nome" required>
                        </div>
                    </td>

                    <td><div class="example-full-width">
                            <mat-label>Telefone</mat-label>
                            <input type="tel" matInput placeholder="Telefone" formControlName="tel" required>
                    </div></td>

                    <td><div class="example-full-width">
                            <mat-label>Bairro</mat-label>
                            <input type="text" matInput placeholder="Bairro" formControlName="bairro" required>
                    </div></td>

                    <div *ngIf="!loading_template; else loading"></div>

                </tr>
            </table>

            <div class="example-full-width">
                <mat-label>Endereço</mat-label>
                <input type="text" matInput placeholder="Endereço" formControlName="endereco" required>
            </div>

            <button mat-stroked-button (click)="submit()">Cadastrar</button>

        </form>

        <ng-template #loading>
            <div class="loading-spinner">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        </ng-template>

    </mat-card-content>
</mat-card>

</div>