.contentAll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    flex-direction: column;
}
.example-spacer {
    flex: 1 1 auto;
  }

.formCard{
    width: 40%;
    padding: 1.5em;
    margin-bottom: 3em;
}

.toolbar-card{
    border-bottom: 3px #ffbb33 solid;
    margin-bottom: 1.5em;
    width: 100%;
  }

.contentInput{
    width: 100%;
}
.contentButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentButton button{
    transition: 0.5s;
    border: 1px #ffbb33 solid;
}
.contentButton button:hover{
    background-color: #222;
    color: #ffbb33;
}
 input[type="text"]{
  border: none;
}

@media screen and (max-width: 800px){
    .formCard{
      width: 80%;
      margin:auto;
      text-align: center;
  }
  }
  @media screen and (max-width: 600px){
    .formCard{
      width: 90%;
      margin:auto;
      text-align: center;
  }
  }
  @media screen and (max-width: 500px){
    .formCard{
      width: 95%;
      margin:auto;
      text-align: center;
  }
}