<div class="contentAll">

    <mat-card class="formCard">

        <mat-toolbar class="toolbar-card">
            <span>Login</span>
            <span class="example-spacer"></span>
            <mat-icon>login</mat-icon>
        </mat-toolbar>

        <form [formGroup]="form">

                <mat-form-field class="contentInput" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" formControlName="username">
                </mat-form-field>

                <mat-form-field class="contentInput" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

            <div class="contentButton">
                <button mat-stroked-button (click)="submit()">Login</button>
            </div>

        </form>

    </mat-card>

    <div class="orMessage">
        <h1>Ou Entre com seu Acesso:</h1>
    </div>

    <mat-card class="formCard">

        <mat-toolbar class="toolbar-card">
            <span>Código Pessoal</span>
            <span class="example-spacer"></span>
            <mat-icon>login</mat-icon>
        </mat-toolbar>

        <form [formGroup]="formToken">

            <mat-form-field appearance="fill" class="contentInput">
                <mat-label>Acesso</mat-label>
                <textarea matInput formControlName="token"></textarea>
            </mat-form-field>

            <div class="contentButton">
                <button mat-stroked-button (click)="submitToken()">Entrar</button>
            </div>

        </form>

    </mat-card>

</div>
