.contentAll{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.full-width{
    width: 100%;
}
mat-card{
    width: 80%;
    margin: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.min-width{
    width: 100%;
    min-height: 150px;
}
.custom-snack-error{
    color: red !important;
    background-color: red !important;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .loading-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
table{
    width: 100%;
}
.form-cliente{
    max-width: 60%;

}
.form-material{
    max-width: 100%;
}

.loading-spinner-mini{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
}
td, th {
    text-align: center !important;
    vertical-align: middle !important;
}
.example-form {
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .maoDeObraForm{
    width: 50%;
    margin:auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .descontoForm{
    width: 50%;
    margin:auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .orcamentoForm{
    width: 80%;
    margin:auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 5px;
  }

  .titleDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
  }
  .titleDesc h1{
    font-size: 20pt;
    font-weight: bold
  }
  .titleDesc p{
    color: #7b7b7b;
    font-size: 14pt;
  }
  .custoMaterial{
    color: green;
    margin-left: 1em;
  }
  .card-info{
    width: 60%;
    margin: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-Orcamento-Content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

  @media screen and (max-width: 820px) {
    .descIcon{
        display: none;
    }
    .headerPanel{
        padding: 1.5em;
    }
    mat-card{
      width: 90%;
      margin: auto;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
    .custoMaterialDesc{
      display: none;
    }
    .custoMaterial{
      color: green;
      display: block;
    }
    .card-materiais{
      width: 100%;
    }
    .content-form-material{
      display: flex;
      flex-direction: column;
    }
    .maoDeObraForm{
      width: 70%;
      margin:auto;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .descontoForm{
      width: 70%;
      margin:auto;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .orcamentoForm{
      width: 100%;
      margin: auto;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .example-section {
      display: flex;
      align-content: center;
      align-items: center;
      height: 60px;
      padding: 1.5em;
    }
}

@media screen and (max-width: 550px) {
    .card-info{
        width: 100%;
        margin: auto;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .example-full-width {
        width: 100%;
        display: grid;
      }

    .atualizar-servico-card{
      width: 100%;
    }
    .maoDeObraForm{
      width: 100%;
      margin:auto;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .descontoForm{
      width: 100%;
      margin:auto;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .orcamentoForm{
      width: 100%;
      margin:auto;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .example-section {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content:center;
      padding: 2em;
    }

    .titleDesc h1{
      font-size: 16pt;
      font-weight: bold;
      text-align: center;
    }
    
    .titleDesc p{
      text-align: center;
      color: #7b7b7b;
      font-size: 14pt;
    }
    .descIconHeader{
      display: none;
    }
}

@media screen and (max-width: 400px) {
  .descIconPaid{
    display: none;
  }
}