.contentAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
    overflow-x: hidden;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .toolbar-card{
    border-bottom: 3px #ffbb33 solid;
    margin-bottom: 0.5em;
    width: 100%;
    background-color: #ffbb33;
    font-family: monospace;
    color:#222;
  }

.contentButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.contentButton button{
    transition: 0.5s;
    border: 1px #ffbb33 solid;
    color: #ffbb33;
    transition: 0.5s;
}
.contentButton button:hover{
    background-color: #ffbb33;
    color: #222;
    transform: scale(1.1);
}
 input[type="text"]{
  border: none;
}
.example-full-width {
    width: 100%;
    background-color:#222;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: start;
    margin-bottom: 0.5em;
  }
  .passContent{
    display: flex;
  }
  .example-form input[type="text"], input[type="password"]{
  background-color: #222;
  border-bottom: 1px white solid;
  color: #f4f4f4;
  padding: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  }
  .example-form{
    padding: 1.5em;
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .example-form input[type="text"]:focus, input[type="password"]:focus{
  background-color: #222;
  border:none;
  color: #f4f4f4;
  border-bottom: 1px #ffbb33 solid;
  }
  .example-form mat-label{
  background-color: #222;
  margin-bottom: 1em;
  border: none;
  color: #f4f4f4;
  margin-top: 1em;
  width: 100%;
  }
  .example-form input[type="text"]::placeholder,  input[type="password"]::placeholder{
  background-color: #222;
  border: none;
  color: #7b7b7b;
  }
  .formCard{
    width: 100%;
    background-color: #222;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: auto;
    margin-bottom: 2em;
}

  @media screen and (max-width: 800px){
    .formCard{
      width: 100%;
      margin:auto;
      text-align: center;
  }
  .example-form{
    padding: 1.5em;
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  }
  @media screen and (max-width: 600px){
    .formCard{
      width: 100%;
      margin:auto;
      text-align: center;
  }
  }
  @media screen and (max-width: 500px){
    .formCard{
      width: 100%;
      margin:auto;
      text-align: center;
  }
  .passContent button{
     position: relative;
     right: 50px;
  }
}