<div style="display: flex;flex-direction: column;min-height: 100%;">
  <div style="flex: 1;">
    <mat-toolbar class="navContent">

      <span class="title">Serralheria Pontualidade</span>

      <div class="actions-nav">
        <button (click)="goHomePage()" mat-stroked-button>Home</button>

        <button mat-stroked-button (click)="goCadastroPage()">Cadastrar</button>
        
        <button mat-stroked-button (click)="goCursosPage()">Clientes</button>

        <div class="sairContent" (click)="sair()" >
          <button mat-stroked-button style="color: #dd4b39;">Sair</button>
          <mat-icon>logout</mat-icon>
        </div>

      </div>

      <div class="menu-card">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon class="icon-menu">menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item class="menu-item" (click)="goHomePage()" style="background-color: #222;">
            <mat-icon style="color: #ffbb33;">home</mat-icon>
            <span style="color: #ffbb33;">Home</span>
          </button>
          <button mat-menu-item class="menu-item" (click)="goCursosPage()" style="background-color: #222;">
            <mat-icon style="color: #ffbb33;">list</mat-icon>
            <span style="color: #ffbb33;">Clientes</span>
          </button>
          <button mat-menu-item class="menu-item" (click)="goCadastroPage()" style="background-color: #222;">
            <mat-icon style="color: #ffbb33;">add</mat-icon>
            <span style="color: #ffbb33;">Cadastrar Cliente</span>
          </button>
          <button mat-menu-item class="menu-item" (click)="sair()" style="background-color: #222;">
            <mat-icon style="color: #dd4b39;">logout</mat-icon>
            <span style="color: #dd4b39;">Sair</span>
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>

    <div class="lineStyleContent">
      <h1>-----------</h1>
    </div>

    <router-outlet></router-outlet>

    <div class="lineEndStyleContent">
      <h1>-----------</h1>
    </div>

  </div>

  <footer class="footerContent">

    <div class="titleFooter">
      <h1>Entre em contato com a Empresa</h1>
    </div>

    <div class="iconsContacts">
     <a href="mailto:pontualidade.pontualidade@gmail.com"><i class="bi bi-google" style="color: #dd4b39;font-size: 25pt;"></i></a>
     <a href="https://wa.me/5534988483279?text=Voc%C3%AA+est%C3%A1+quase+l%C3%A1%21"><i class="bi bi-whatsapp" style="color: #25d366;font-size: 25pt;"></i></a>
    </div>

    <div class="copyContent">
      <span>&copy; <span>Serralheria Qualidade e Pontualidade</span></span>
    </div>

  </footer>

</div>