// regular style toast
@import 'ngx-toastr/toastr';
@import "~bootstrap-icons/font/bootstrap-icons.css";

.example-spacer {
    flex: 1 1 auto;
  }

.navContent{
  position:sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px #7a7a7a solid;
  display: flex;
  justify-content: space-between;
}

.title{
  font-family: monospace;
  font-size:15pt;
  font-weight: bold;
  border-bottom: 3px #ffbb33 solid;
}

.menu-card{
  display: none;
}
.actions-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}
.actions-nav button{
  margin-right: 0.5em;
  border: none;
  transition: 0.2s;
  font-weight: bold;
}

.actions-nav button:hover{
  transform: scale(1.1);
  color: #ffbb33;
  font-weight: normal;
}

.title{
  margin-left: 1.5em;
  font-family: monospace;
  font-size:15pt;
  font-weight: bold;
  border-bottom: 3px #ffbb33 solid;
}
  
::ng-deep .fail{
  color: black !important;
  background-color: red !important;
}

@media screen and (max-width: 620px){

  .navContent{
    position: sticky;
    top:0;
    z-index: 1000;
    border-bottom: 1px #7a7a7a solid;
    padding: 1.8em;
    display: flex;
    justify-content: space-between;
  }
  .actions-nav{
    display: none;
  }
  .menu-card{
    display: block;
    transition: 0.5s;
  }
  .title{
    font-family: monospace;
    font-size:15pt;
    font-weight: bold;
    border-bottom: 3px #ffbb33 solid;
    position: relative;
    right: 30px;
  }
  .menu-card:hover{
    transform: scale(1.1);
  }
}

@media screen and (max-width: 400px){

  .navContent{
    position: sticky;
    top:0;
    z-index: 1000;
    border-bottom: 1px #7a7a7a solid;
    padding: 1.8em;
    display: flex;
    justify-content: space-between;
  }
  .actions-nav{
    display: none;
  }
  .menu-card{
    display: block;
    transition: 0.5s;
    color: #ffbb33;
    position: relative;
    right: 45px;
  }
  .icon-menu{
    font-size: 19pt;
  }
  .title{
    font-family: monospace;
    font-size:13pt;
    font-weight: bold;
    border-bottom: 3px #ffbb33 solid;
    position: relative;
    right: 50px;
  }
  .menu-card:hover{
    transform: scale(1.1);
  }
}

.lineStyleContent{
  display: flex;
  justify-content: flex-start;
  margin-top: 2.5em;
  padding-left: 20px;
}
.lineStyleContent h1{
  border-top: 6px #ffbb33 solid;
  color: transparent;
  position: relative;
}

.lineEndStyleContent{
  display: flex;
  justify-content: flex-end;
  margin-top: 6em;
  padding-right: 20px;
}
.lineEndStyleContent h1{
  border-top: 6px #ffbb33 solid;
  color: transparent;
  position: relative;
}

.footerContent{
  background-color: #222;
}
.titleFooter{
  text-align: center;
  margin-top: 1.5em;
}
.titleFooter h1{
  color: #ffbb33;
  font-family: monospace;
  font-size: 16pt;
}
.iconsContacts{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 30px;
  margin-top: 2em;
  margin-bottom: 3em
}
.iconsContacts:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.copyContent{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5em;
}
.copyContent span{
  color: #ffbb33;
  font-size: 20pt;
}
.copyContent span span{
  color: white;
  font-family: monospace;
  font-size: 13pt;
}

@media screen and (max-width: 500px){
  .footerContent{
    background-color: #222;
    font-size: 14pt;
  }
}
