.contentAll{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lineStyleContent{
  display: flex;
  justify-content: flex-start;
  margin-top: 2.5em;
  padding-left: 20px;
}
.lineStyleContent h1{
  border-top: 6px #ffbb33 solid;
  color: transparent;
  position: relative;
}

.titleDesc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titleDesc h1{
  font-size: 20pt;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-family: monospace;
}

.titleDesc h1 span{
  padding: 0.5em;
  background-color: #222;
  color: #ffbb33;
  font-weight: normal;
}
.titleDesc p{
  color: #7b7b7b;
  margin-bottom: 1em;
  font-size: 14pt;
}

@media screen and (max-width: 650px){

  .titleDesc h1{
    font-size: 15pt;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    text-align: center;
  }

  .titleDesc h1 span{
    padding: 0.5em;
    background-color: #222;
    color: #ffbb33;
    font-weight: normal;
    display: block;
    margin-top:0.5em;
  }

  .titleDesc p{
    text-align: center;
    color: #7b7b7b;
    margin-bottom: 1em;
    font-size: 13pt;
  }
}

.fail{
    color: black;
    background-color: red;
  }